---
import UserIcon from '@components/UserIcon.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='About'>
  <section class='px-4'>
    <UserIcon />
  </section>
</MainLayout>
