<a
  transition:name="user-icon"
  href='/'
  class='h-8 w-8 md:h-10 md:w-10 rounded-full shadow shadow-zinc-200/20 text-center place-content-center text-sm hover:shadow-primary/50 hover:text-primary transition-all duration-300'>
  D
</a>
